.Form {
  width: 80%;
  margin: auto;
}
.Form > p {
  width: 100%;
  font-size: 170%;
  color: cornflowerblue;
}
.Input {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.DropDown {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Price {
  width: 50%;
}

.Price > p {
  text-align: left;
  margin: 1% 0;
}
.Price  p:last-of-type {
  font-size: 170%;
  margin: 1% 0;
  color: cornflowerblue;
  border: 1px solid cornflowerblue;
  text-align: center;
}
